<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Python Developer that does everything with greatness."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home | Carlos Mertens</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <div class="collapse bg-success shadow-lg" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About Me!</h4>
              <p class="text-white">
                I'm Certified in IT & Computing by The Open University and in
                Machine Learning with Udacity. I also have a nanodegree in AI
                (Artificial Intelligence) Programming with Python. Currently I
                am taking an online bootcamp for Django Full Stack Developer
                certificate. I have a demonstrated history of working in the
                internet industry and I am skilled in Customer Satisfaction,
                Time Management, Problem Solving, and Teamwork.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <ul class="list-unstyled">
                <li>
                  <a
                    href="https://www.linkedin.com/in/carlosmertens/"
                    target="_blank"
                    class="text-white"
                    >LinkedIn</a
                  >
                </li>
                <li>
                  <a
                    href="https://github.com/carlosmertens"
                    target="_blank"
                    class="text-white"
                    >GitHub</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-secondary shadow-lg">
        <div class="container d-flex justify-content-between">
          <a
            href="{% url 'index' %}"
            class="navbar-brand d-flex align-items-center text-dark"
          >
            <strong>CARLOS MERTENS</strong>
          </a>
          <button
            class="navbar-toggler bg-dark"
            type="button"
            data-toggle="collapse"
            data-target="#navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span>Profile</span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <img
            class="rounded-circle mb-5"
            src="{% static 'winter_me.jpg' %}"
            alt="Me Photo"
            height="150"
            width="150"
          />
          <h1 class="jumbotron-heading text-success">
            Hello there, I'm Carlos!
          </h1>
          <p class="lead text-muted">
            Welcome to my website! I am glad you found me and I hope you like my
            work.
          </p>
          <hr class="my-4" />
          <p>
            <a href="{% url 'allBlogs' %}" class="btn btn-success my-2">Blog</a>
            <a
              href="mailto:mertenscarlos@yahoo.com"
              class="btn btn-secondary my-2"
              >Email</a
            >
          </p>
        </div>

        <br />

        <div class="album py-5 bg-secondary">
          <div class="container">
            <h1 class="text-dark pb-5">Projects</h1>
            <div class="row">
              {% for project in projects.all %}
              <div class="col-md-4 pb-5">
                <div class="card mb-4 shadow-lg bg-light h-100">
                  <img
                    class="card-img-top img-fluid img-thumbnail"
                    src="{{ project.image.url }}"
                    alt="Project Image"
                    height="200"
                    width="200"
                  />
                  <div class="card-body">
                    <p class="card-text">
                      <span
                        ><strong>{{ project.title }}</strong></span
                      >
                      <br />
                      <br />
                      {{ project.description }}
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <a
                        href="{{ project.gitHub }}"
                        class="btn btn-outline-success my-2"
                        target="_blank"
                        >GitHub</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="text-success mt-2">
      <div class="container">
        <p class="float-right">
          <a href="#" class="text-success">Back to top</a>
        </p>
        <p>
          Everybody smiles in the same language!
        </p>
        <p>
          © Carlos Mertens {% now "Y" %}
        </p>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
