<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Python applications with Djando - Dedicated Python Developer"
    />
    <title>Blogs | Carlos Mertens</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  {% extends 'base.html' %} {% load staticfiles %}
  <body>
    {% block content %}

    <main role="main" class="pt-3">
      <section
        class="jumbotron text-center"
        style="background-color:lightgrey;"
      >
        <div class="container">
          <h1 class="jumbotron-heading text-primary">
            Welcome to my blog page!!
          </h1>
          <p class="lead text-muted">
            Here I will be giving my feedback on courses, prejects, books,
            articles, etc. <br />
            I hope you can take some positive or you can be guided to your next
            step to become a developer.
          </p>
        </div>

        <br />

        <div class="container text-left text-dark">
          <br />
          <h2>Latest Posts</h2>

          {% for post in posts.all %}
          <hr style="border-top: 1px solid rgb(6, 41, 241);" />
          <a class="text-dark" href="{% url 'theBlog' post.id %}"
            ><h3>{{ post.title }}</h3></a
          >
          <p>Posted on: {{ post.date_view }}</p>
          <img
            class="img-fluid img-thumbnail"
            src="{{ post.image.url }}"
            alt="Post Image"
            height="150"
            width="150"
          />
          <br />
          <br />
          <p class="lead">{{ post.summary_view }}...</p>
          <p>
            <a href="{% url 'theBlog' post.id %}"><em>Read more </em></a>
          </p>
          <br />
          {% endfor %}
        </div>

        <div class="container">
          <hr class="my-4" />
          <div class="row d-flex justify-content-center">
            <div class="col-sm p-4">
              <a href="{% url 'homepage' %}" class="p-4"
                ><img
                  src="{% static 'control-center.png' %}"
                  alt="About"
                  height="100"
                  width="100"
              /></a>
              <br />
              <a href="{% url 'homepage' %}">Home</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
